.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    input{
        height: auto;
    }

}
.projectCount{
    color: aqua;
    &:hover.projectList {
        display: block;
    }
}
.projectList{
    display: none;
   
}
// .projectCount:hover.projectList{
//     display: block;
// }
// .projectList:hover{
//     display: block;
// }