.container {
    display: flex;
    flex-direction: column;
    // height: 100vh;

    background-color: rgb(247, 247, 247);
    justify-content: space-between;

    .header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;

        input {
            height: 40px;
            width: 289px;
        }

        .btn {
            height: 40px;
            background-color: #3BBCA0;
            color: #FFFFFF;
        }

        ::ng-deep {
            .p-dropdown .p-dropdown-label.p-placeholder {
                height: 40px;
                display: flex;
                align-items: center;
            }

            .p-button .p-button-label {
                height: 15px;
                display: flex;
                align-items: center;
            }
        }

    }

    .heading {
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        color: #8d8d8d;

        .title {
            width: 150px;
        }
    }

    .listOut {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .list {
            display: flex;
            justify-content: space-between;
            height: 56px;

            background-color: rgb(255, 255, 255);

            // padding-right: 100px;


            .item {
                align-items: center;
                display: flex;
                width: 190px;
                gap: 15px;

                // background-color: aqua;
                img {
                    border-radius: 50%;
                    height: 36px;
                    width: 40px;
                }
            }

            .itemLast {
                align-items: center;
                display: flex;
                width: 150px;
                justify-content: space-between;
                padding-right: 15px;

                img {
                    width: 15px;
                    height: 15px;
                }

                .projectCount {
                    color: #3BBCA0;
                }
            }
        }
    }
}
.footer {
    
    ::ng-deep {
        .p-paginator{
            background-color: rgb(247, 247, 247);
        }
        .p-paginator .p-paginator-pages .p-paginator-page {
            
            border-radius: 0%;
            
        }
        .p-paginator .p-paginator-pages .p-paginator-page:hover{
            // border-color: #76d0bd;
           
            border: 2px solid;
        }
        .p-paginator .p-paginator-first{
            display: none;
        }
        .p-paginator .p-paginator-last{
            display: none;
        }
        .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
            border: 1px solid;
            border-radius: 4px;
            background-color: #c5ccd2;
        } 
        .p-paginator .p-paginator-pages .p-paginator-page  {
            border-radius: 4px;
            // width: 32px;
            // height: 32px;
            
        }
        .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
            color: #3BBCA0;
        }
    }
}

