<div class="personal">
    <div class="header">
        <div class="left">
            <img class="image" src="/assets/images/santander_1.png" alt="santander_1">
        </div>
        <div class="right">
            <a href="">Contact us</a>
            <div class="search">
                <div>
                    <input placeholder="Search" class="input">
                </div>
                <div class="icon"><i class="bi bi-search"></i></div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="card-1">
            <div class="stock-icon">

            </div>
            <div class="stock-heading">
                <h2>Stocks and Shares ISA</h2>
            </div>
            <div class="stock-about">
                <p>Transfer an ISA to the Investment Hub and we’ll give you £50 for transfers between £5,000 and £20,000
                    and £100 for transfers of more than £20,000 – T&Cs apply</p>
            </div>
            <div class="stock-button">
                <app-button>See our Investment page</app-button>
            </div>
        </div>
        <div class="card-1">
            <div class="icon">

            </div>
            <div class="credit-heading">
                <h2>Credit cards</h2>
            </div>
            <div class="credit-about">
                <p>Take a look at our credit cards to find the one that’s right for you - credit subject to status</p>
            </div>
            <div class="credit-button">
                <app-button>all credit cardsl</app-button>
            </div>
        </div>
        <div class="card-1">
            <div class="icon">

            </div>
            <div class="cost-heading">
                <h2>Worried about the cost of living?</h2>
            </div>
            <div class="cost-about">
                <p> We’re here to help if it feels like things are getting on top of you</p>
            </div>
            <div class="button">
                <app-button> Learn how we can help</app-button>
            </div>
        </div>
        <div class="card-1">
            <div class="icon">

            </div>
            <div class="greener-heading">
                <h2>Greener homes</h2>
            </div>
            <div class="-about">
                <p>
                    Find out more about improving the energy efficiency of your home which could help reduce your bills
                    and carbon footprint

                </p>
            </div>
            <div class="button">
                <app-button>Greener Homes</app-button>
                
            </div>
        </div>
        <div class="card-1">
            <div class="icon">

            </div>
            <div class="-heading">
                <h2>personal Loans</h2>
            </div>
            <div class="-about">
                <p>Make your plans a reality. Apply online and typically get a decision in 5 minutes - credit subject to
                    status</p>
            </div>
            <div class="button">
                <app-button>See Our Loans</app-button>
            </div>
        </div>
        <div class="card-1">
            <div class="icon">

            </div>
            <div class="-heading">
                <h2>Your Red Car </h2>
            </div>
            <div class="-about">
                <p>Buy your next car from one of Santander Consumer’s approved car dealers</p>
            </div>
            <div class="button">
                
                <app-button (click)="click()">Discover cars</app-button>
            </div>
        </div>

    </div>
</div>